.top-section{
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 20px;
}
button{
    color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    border-radius: 16px;
}
img {
    margin: 5px;
    width:20%;
}
picture{
    width: 80%;
    margin-left: 10%;
    align-content: center;
    padding: 0;
}
div{
    align-self: center;
    margin-left: 10%;
    width:80%;
}