img{
    position:absolute;
    top:67px;
}
.r-container{
    position:absolute;
    top:2px;
    left:716;
}
.r-top{
    position:absolute;
    top:0px;
    border-bottom:1px solid #dcdcdc;
}
.r-bottom{
    position:absolute;
    top:67px;
    left:0px;
    width:100%;
    height:50px;
    background-color:#ffffff;
    border-top:1px solid #dcdcdc;
}   