.downl{
    position: absolute;
    width: 648px;
    height: 369px;
    top: 698px;
    left: 115px;
    border-radius: 144px;

}
.dl{
    width: 200px;
height: 369px;
top: 698px;
left: 115px;
border-radius: 144px;

}
.downr{
    position: absolute;
    width: 483px;
    height: 237px;
    top: 830px;
    left: 843px;
    gap: 16px;

}
.im{
    width: 463pv;
    height: 100px;

}
.imd{
    width: 100px;
    height: 100px;
}
h2{
    width: 108px;
    height: 33px;
    font-family: Avenir;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}
p{
    width: 483px;
height: 60px;
font-family: Avenir;
font-weight: 400;
font-style: Roman;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;

}