.hero{
    position: absolute;
    width: 1024px;
    height: 1024px;
    left: 416px;
}
body{
    width: 1440px;
    height: 1024px;
    background-image:linear-gradient(172.29deg, #09212C 15.72%, #043E49 68.5%);
}
.cont{
    position: absolute;
    width: 724px;
    height: 518px;
    top: 193px;
    left: 64px;
    border-radius: 24px;
    padding-top: 40px;
    padding-right: 56px;
    padding-bottom: 40px;
    padding-left: 56px;
}
h1{
    width: 612;
    height: 144;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    color: white;
}
p{
    width: 586px;
    height: 108px;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    color:white;
}
button{
    width: 182px;
    height: 66px;
    border-radius: 36px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    background-color: #63E1E1;
    color: black
}
.contd{
    position: absolute;
    width: 1212px;
    height: 171px;
    opacity: 1;
    top: 791px;
    left: 64px;
    border-radius: 32px;
    padding-top: 24px;
    padding-right: 56px;
    padding-bottom: 24px;
    padding-left: 56px;
    border: 1px solid white;
    border-image-source: linear-gradient(90.99deg, rgba(255, 255, 255, 0.8) 1.2%, rgba(255, 255, 255, 0.44) 100%);
    backdrop-filter: blur(8px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.box{
    width: 290px;
    height: 123;
    display: inline-block;
}
.we{
    width: 231px;
    height: 50px;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
h2{
    width: 122px;
    height: 33px;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 24px;
    line-height: 100%;
    color: white;    

}