h1{
    position: absolute;
    width: 833px;
    height: 176px;
    top: 64px;
    left: 64px;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0%;
}
.image-container{
    position: absolute;
    width: 100%;
    height: 559px;
    top: 304px;
    left: 64px;
    opacity: 1;
    gap: 16px;
}
.image-item{
    width: 15%;
    display: inline-block;
    margin:10px;
}
p{
    width: 316px;
    height: 66px;
    opacity: 1;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
h2{
    width: 316;
    height: 55;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #25252559;

}