.top-left {
    width:444px;
    height: 473px;
    top:137px;
    left: 64px;
    display: inline-block;
    gap:24px;
}
button{
    color: white;
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 16px;
}
.top-left-img {
    position: absolute;
    top:65;
    left:525;
    width:408;
    height:480;
    radius: 16px;
}
.top-right-img {
    position: absolute;
    top:217;
    left:968;
    width:408;
    height:480;
    radius: 16px;
}
.down-raw{
    
    justify-content: center;
    align-items: center;
}
.im{
    
    margin: 10px;
    display:inline-block;
    border: black 2px solid;
}
.imd{
    display:inline-block;
    width: 200px;
    height: 200px;
}