.top-left{
    position: absolute;
    top: 137px;
    left: 64px;
}
h1{
    width: 444px;
    height: 231px;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 0%;
}
p{
    width: 386px;
    height: 144px;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
}
button{
    position: absolute;
    width: 157px;
    height: 50px;
    opacity: 1;
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    color:white;
    background-color:black;;
}
.top-middle{
    position: absolute;
    width: 408px;
    height: 480px;
    opacity: 1;
    top: 65px;
    left: 525px;
    border-radius: 16px;

}
.top-right{
    position: absolute;
    width: 408px;
    height: 480px;
    opacity: 1;
    top: 217px;
    left: 968px;
    border-radius: 16px;

}
.bottom{
    position: absolute;
    width: 100%;
    height: 440px;
    top: 769px;
    left: 64px;


}
.imd{
    border-radius: 16px;
    width:22%;
    display: inline-block;
}
.cap{
    height:60px;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 40px;
    letter-spacing: 0%;
    margin:0;
}