.heaad-info {
position:absolute
width: 756px;
height: 310px;
top: 64px;
left: 295px;
opacity: 1;
gap: 16px;
}
.top-r{
    position: absolute;
    width: 537.3952026367188px;
    height: 512px;
    opacity: 1;
    left: 838.6px;
    top:1px;

}

button{
    width: 182px;
    height: 66px;
    opacity: 1;
    gap: 10px;
    border-radius: 36px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    background: #363830;
    color: white;
}
.c1{
    position: absolute;
    width: 948;
    height: 272;
    angle: 0 deg;
    opacity: 1;
    top: 591px;
    left: 428px;
    gap: 8px;
    border-radius: 144px;
    padding-top: 40px;
    padding-right: 88px;
    padding-bottom: 40px;
    padding-left: 88px;
    background: linear-gradient(95.95deg, rgba(255, 255, 255, 0.3) 6.59%, rgba(255, 255, 255, 0.18) 96.07%);
    backdrop-filter: blur(24px)

}
.bottom-l{
    position: absolute;
    width: 462;
height: 508;
angle: 0 deg;
opacity: 1;
top: 418px;
left: 64px;}
.circle-inner{
    width: 772px;
    height: 192px;
    angle: 0 deg;
    opacity: 1;
    gap: 80px;

}
.circle-text{
    width: 204px;
    height: 192px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    display: inline-block;

}
body{
    width: 1440px;
    height: 926px;
    angle: 0 deg;
    opacity: 1;
    background: linear-gradient(122.62deg, #C8CCCF 5.59%, #97A3A3 84.01%);

}
h1{
    width: 756;
height: 104;
angle: 0 deg;
opacity: 1;
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 88px;
leading-trim: NONE;
line-height: 104px;
letter-spacing: 0%;
color: #363830;


}
.top-p{
    width: 659;
height: 108;
angle: 0 deg;
opacity: 1;
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #363830;

}