.container {
    position: absolute;
    width: 656;
    height: 861.5;
top: 64px;
left: 64px;
angle: 0 deg;
opacity: 1;}
html{
    background-color: #920a0a;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.info-container{
    position: absolute;
    width: 487px;
    height: 674px;
    top: 134px;
    left: 889px;
}
h1{
    width: 487px;
    height: 416px;
    font-family: Work Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 88px;
    line-height: 104px;
    letter-spacing: 0%;
    color: #FFFFFF;

}
p{
    width: 487px;
    height: 96px;
    font-family: Work Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 32px;
    color: white;

}
button{
    width: 231px;
    position:absolute;
    height: 82px;
    border-radius: 36px;
    padding-top: 32px;
    padding-right: 56px;
    padding-bottom: 32px;
    padding-left: 56px;
    background: #E5B94B;
    font-family: Work Sans;
    font-weight: 500px;
    font-style: Medium;
    font-size: 32px;
    line-height: 18px;
    letter-spacing: 0%;
    color: white;


}