h1{
    font-size: 88px;
    width:531px;
}
.box{
    display: inline-block;
    width:30%;
}
p{
    width: 400px;
    height: 132px;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 24px;

}
.cap{
    width: 38px;
    height: 30px;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 32px;
    margin: 0;
}