.cont1{
    position: absolute;
    width: 356px;
    height: 482px;
    opacity: 1; 
    top: 88px;
    left: 64px;
}
h1{
    width: 280px;
    height: 240px;
    font-family: Times;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0%;
}
p{
    width: 356px;
    height: 112px;
    font-family: Times;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}
button{
    width: 177px;
    height: 66px;
    opacity: 1;
    border-radius: 36px;
    gap: 10px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    color:aliceblue;
    background-color: green;
}
.cont2{
    position: absolute;
    width: 280px;
    height: 432px;
    top: 528px;
    left: 1028px;
}

.contm{
    position: absolute;
    width: 415.4829406738281px;
    height: 709px;
    top: 180px;
    left: 512px;
    border-radius: 272px;

}
.im1{
    position:absolute;
    width: 176px;
    height: 298px;
    top: 661.6px;
    left: 64px;
    border-radius: 119.36px;

}
.im2{
    position: absolute;
    width: 176px;
    eight: 298px;
    top: 595.39px;
    left: 261.69px;
    border-radius: 111.9px;

}
.im3{
    position: absolute;
    width: 184px;
    height: 316px;
    opacity: 1;
    top: 66px;
    left: 984px;
    border-radius: 120px;

}
.im4{
    position: absolute;
    width: 184px;
    height: 316px;
    top: 171px;
    left: 1192px;
    border-radius: 128px;

}
.im5{
    /* position: absolute; */
    width: 374px;
    height: 640px;
    /* top: 249px; */
    /* left: 533px; */
    border-radius: 272px;

}
.im6{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 163px;
    left: 396px;

}
.im7{
    position: absolute;
    width: 80;
    height: 80;
    top: 423px;
    left: 1028px;

}