.container {
    position: absolute;
    width: 637px;
    height: 414px;
    top: 144.33px;
    left: 65px;

}
h1{
    width: 637px;
    height: 176px;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0%;
    color: #252525;

}
p{
    width: 586px;
    height: 108px;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 26px;
    line-height: 100%;
    color: #252525CC;

}
button{
    width: 182px;
    height: 66px;
    border-radius: 36px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    color:white;
    background-color: black;

}
.img-cont{
    position: absolute;
    width: 547.6666259765625px;
    height: 518.6567993164062px;
    left: 828px;
}
.img1{
    position: absolute;
    width: 322.6666564941406px;
    height: 384.65679931640625px;
    top: 92px;
    left: 428px;

}
.img2{
    position: absolute;
    width: 322.6666564941406px;
    height: 384.65679931640625px;
    top: 226px;
    left: 653px;
}
.circle{
    position:absolute;
    width: 1582px;
    height: 208px;
    top: 766.66px;
    left: 64px;
    border-radius: 40px;
    padding: 64px;
    background: #252525;
}
.rect{
    width: 1184px;
    height: 170px;
    opacity: 1;
}
.q{
    width: 316px;
    height: 170px;
    color: white;
    display: inline-block;
    margin-right: 70px;
}
.cloud{
    width: 24px;
    height: 24px;
    }
.white{
    width: 316px;
    height: 66px;
    opacity: 1;
    font-family: Avenir;
    font-weight: 400;
    font-style: Book;
    font-size: 24px;
    line-height: 100%;
    color: white
}