.top-r{
    position: absolute;
    width: 637px;
    height: 477px;
    opacity: 1;
    top: 64px;
    left: 64px;

}
h1{
    width: 637px;
    height: 264px;
    font-family: Avenir;
    font-weight: 800;
    font-style: Heavy;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0%;

}
p{
    width: 519px;
    height: 99px;
    opacity: 1;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
button{
    width: 182px;
    height: 66px;
    opacity: 1;
    border-radius: 36px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    background-color: black;
    color: white;

}
.Spiral{
    position:absolute;
    width: 133px;
    height: 283.8823547363281px;
    opacity: 1;
    top: 674px;
    left: 142px;
    border-width: 3.35px;
    
}
.top-small{
    position: absolute;
    width: 355px;
    height: 126px;
    opacity: 1;
    top: 91px;
    left: 498px;

}
.star1{
    position: absolute;
    width: 248px;
    height: 248px;
    opacity: 1;
    top: 388px;
    left: 596px;
    border-width: 4px;
    color: #F0C3D2;

}
.star2{
    position: absolute;
    width: 257px;
    height: 257px;
    opacity: 1;
    top: 541px;
    left: 1095px;
    border-width: 3px;
    color: #F0C3D2;
}
.bottom-r{
    position: absolute;
    width: 668px;
    height: 122px;
    gap: 24px;
    opacity: 1;
    top: 838px;
    left: 708px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
}
.im2{
    width: 80px;
    height: 80px;
    display: inline-block;
}
.pim2{
    width: 516px;
    height: 90px;
    font-family: Avenir;
    font-weight: 400;
    font-style: Roman;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    display: inline-block;
}
.im31{
    position: absolute;
    width: 316px;
    height: 436px;
    opacity: 1;
    top: 524px;
    left: 383px;
    border-radius: 24px;

}
.im32{
    position: absolute;
    width: 316px;
    height: 436px;
    opacity: 1;
    top: 282px;
    left: 723px;
    border-radius: 24px;
}
.im33{
    position: absolute;
    width: 316px;
    height: 436px;
    opacity: 1;
    top: 67px;
    left: 1063px;
    border-radius: 24px;

}
